{% extends 'core/base.html' %}
{% load static %}

<link href="{% static 'core/yab.css' %}" rel="stylesheet">

{% block title %} Sign up {% endblock %}
{% block body %}

<h2 class="new">Newest Items</h2>
<div class="container">
    <form method="get" action="{% url 'item:items% }">
        <input name="query" type="text" value="{{query}}" placeholder="find a pes or cloth....">
        <button> Search</button>
    </form>
</div>

<div class="grid">
    {% for item in items%}
    <div class="py">
        <a href="{% url 'item:detail' item.id %}">
            <div class="img">
                <img src="{{item.image.url}}">
            </div>
            <div class="price">
                <h2>{{item.name}}</h2>
                <p>Price: {{item.price}}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}