{% extends 'core/base.html' %}
{% load static %}

<link href="{% static 'core/yab.css' %}" rel="stylesheet">

{% block title %} Sign up {% endblock %}
{% block body %}

<h2 class="new">Newest Items</h2>
    <div class="search-container">
        <form method="get" action="{% url 'item:items' %}">
            <input id="searchInput" name="query" type="text" value="{{query}}" placeholder="Search or enter web address" onkeypress="searchKeyPress(event)">
        </form>
        <p>Category</p>
        <ul>
            <li>
            {% for category in categories %}
            <a href="{% url 'item:items' %}"?query={{query}}& category="{{category.id }}>{{category.name }}"></a>
            {% endfor %}
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        function searchKeyPress(event) {
            if (event.key === 'Enter') {
                // Assuming you have a search functionality or redirect
                window.location.href = `search_results_page_url?query=${document.getElementById('searchInput').value}`;
            }
        }
    </script>
<div class="grid">
    {% for item in items%}
    <div class="py">
        <a href="{% url 'item:detail' item.id %}">
            <div class="img">
                <img src="{{item.image.url}}">
            </div>
            <div class="price">
                <h2>{{item.name}}</h2>
                <p>Price: {{item.price}}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}