{% extends 'sell/index.html' %}

{% block title %} {{ item.name }} {% endblock %}

{% block body %}
<nav class="high">
    <a href="/">puddle</a>
</nav>
<nav>
    <div id="coll">
        <a href="#">New Item</a>
        <a href="#">Browse</a>
        <a href="#">sign up</a>
        <a href="#">log in</a>
    </div>
</nav>
<div class="ph">
<img src="{{ item.image.url }}">
</div>
<div class="hat">
    <h1>{{item.name}}</h1>
    <p><strong>price: {{ item.price }}</strong></p>
    <p><strong>seller: {{ item.created_by.username }}</strong></p>

    {% if item.description %}
        <p>
            <strong>description: {{ item.description }}</strong>
        </p>
    {% endif %}
    <div class="ll">
    <a href="#">contact seller</a>
    </div>
</div>
<div id="new">
    <h2>Related Item</h2>
    </div>
    <div class="items">
        {% for item in related_items %}
        <div class="la">
            <a href="{% url 'item:detail' item.id %}">
            <div>
                <img src="{{ item.image.url }}">
                <h3>{{ item.name }}</h3>
                <p>price: {{ item.price }}</p>
            </a>
    </div>
    </div>
    {% endfor %}
<footer>
    <h3>About</h3>
    <p>blalalallalllfjfjfjgjgflfgllg</p>
    <ul class="di">
        <li><a href="#">Menu</a></li>
        <li><a href="#">About</a></li>
        <li><a href="{% url 'sell:contact' %}">Contact</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms Of Use</a></li>  
    </ul>
</footer>
</body>
{% endblock %}