{% load static %}
<!DOCTYPE html>
<html>
    <head charset="utf-8">
        <meta name="viewport"  initial-scale="1.0">
        <title>{% block title %} {% endblock %} | Sell</title>
        <link href="{% static 'core/yab.css' %}" rel="stylesheet">

    </head>
    <body>
        <header class="header">
            <h1>Puddle</h1>
                <div class="nav-container">
                    <nav>
                        <a href="#" class="nav-link">Browse</a> 
                        <a href="#" class="nav-link">New Item</a> 
                    </nav>
                <div class="auth-container">
                    <a href="#" class="button-link signup-link">Sign up</a>
                    <a href="#" class="button-link login-link">Log in</a>
                </div>
            </div>
        </header> 
        <footer class="footer">
            <div class="footer-content">
                <div class="footer-section about">
                    <h3>About</h3>
                    <p>Lorem ipsum bla bla bla. Lorem ipsum bla bla bla.</p>
                </div>
                <div class="footer-section links">
                    <h3>Menu</h3>
                    <ul>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">Privacy policy</a>
                        </li>
                        <li>
                            <a href="#">Terms of use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <div class="head">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>