<!DOCTYPE html>
<html>
    <head charset="utf-8">
        <meta name="viewport" content="width-device-width", initial-scale="1.0">
        <title>{% block title %} {% endblock %} | Sell</title>
    </head>
    <body>
        <nav class="nav">
            <a href="#">Sell</a>
        </nav>
        <nav class="nav1">
            <a href="#">new item</a>
        </nav>
        <nav class="nav1">
            <a href="#">Browse</a>
        </nav>
        <nav class="nav1">
            <a href="#">Sign up</a>
        </nav>
        <nav class="nav1">
            <a href="#">Log in</a>
        </nav>
        <div class="head">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>