{% extends 'core/base.html' %}
{% load static %}

<llnk href="{% static  'core/styles.css' %}" rel="stylesheet">

{% block title %} welcome {% endblock %}
{% block body %}
    <h2 class="new">Newest Items</h2>
    <div class="grid">
        {% for item in items%}
        <div class="py">
            <a href="#">
                <div class="img">
                    <img src="{{item.image.url}}">
                </div>
                <div class="price">
                    <h2>{{item.name}}</h2>
                    <p>Price: {{item.price}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <h2 class="new">Categories</h2>
<div class="grid">
    {% for category in categories %}
    <div class="py">
        <a href="#">
            <div class="price">
                <h2>{{ category.name }}</h2>
                <p>{{ category.items.count }} items</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}