{% extends 'core/base.html' %}
{% load static %}

<link href="{% static 'core/yab.css' %}" rel="stylesheet">

{% block title %} welcome {% endblock %}
{% block body %}
    <h2 class="new">Newest Items</h2>
    <div class="items-grid">
        {% for item in items %}
        <div class="item-card">
            <a href="{% url 'item:detail' item.id %}">
                <div class="item-img-container">
                    <img src="{{item.image.url}}" class="item-img">
                </div>
                <div class="item-info">
                    <h2>{{item.name}}</h2>
                    <p>Price: {{item.price}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <h2 class="new">Categories</h2>
    <div class="categories-grid">
        {% for category in categories %}
        <div class="category-card">
            <a href="#">
                <div class="category-info">
                    <h2>{{ category.name }}</h2>
                    <p>{{ category.items.count }} items</p>
                    <p>item</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>    
{% endblock %}
