{% extends 'sell/index.html' %}
{% load static %}
{% block body %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=width-width, initial-scale=1.0">
    </head>
    <title>{% block title %}{% endblock %} | sell</title>
    <link href="{% static 'sell/base.css' %}" rel="stylesheet">
    <body>
        <nav class="high">
            <a href="/" class="text-xl font-semibold">puddle</a>
            <div id="coll">
                <a href="#">New Item</a>
                <a href="#">Browse</a>
                <a href="#">sign up</a>
            </div>
        </nav>
    </body>
{% endblock %}