{% extends 'sell/index.html' %}
{% load static %}
{% block body %}
    <nav>
        <h2>puddle</h2>
    </nav>
    <nav>
    <div class="cont">
        <a href="#">New Item</a>
        <a href="#">Browse</a>
        <a href="#">sign up</a>
        <a href="#">log in</a>
    </div>
    </nav>
    <h1>contact us!</h1>
    <p>for more information please contact us!</p>
    <footer>
        <h3>About</h3>
        <p>blalalallalllfjfjfjgjgflfgllg</p>
        <ul class="di">
            <li><a href="#">Menu</a></li>
            <li><a href="#">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms Of Use</a></li>
           
        </ul>
    </footer>
{% endblock %}