{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <link  rel="stylesheet" href="{% static 'sell/base.css' %}">
    </head>
    <body>
        {% block body %}
        <nav class="high">
            <a href="/">puddle</a>
        </nav>
        <nav>
            <div id="coll">
                <a href="#">New Item</a>
                <a href="#">Browse</a>
                <a href="#">sign up</a>
                <a href="#">log in</a>
            </div>
        </nav>
        <div id="new">
        <h2>Newest Item</h2>
        </div>
        <div class="items">
            {% for item in items %}
            <div class="ill">
                <a href="/">
                    <div>
                        <img src="{{ item.image.url }}">
                    </div>
                    <div>
                        <h2>{{ item.title }}</h2>
                        <p>price: {{ item.price }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
        <footer>
            <h3>About</h3>
            <p>blalalallalllfjfjfjgjgflfgllg</p>
            <ul class="di">
                <li><a href="#">Menu</a></li>
                <li><a href="#">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms Of Use</a></li>
               
            </ul>
        </footer>
    </body>
</html>
{% endblock %}